MYSQL_DATABASE=album
MYSQL_USER=album_app
MYSQL_PASSWORD=change_me_to_a_strong_password
MYSQL_ROOT_PASSWORD=change_me_to_another_strong_password

INIT_ADMIN_USERNAME=superadmin
INIT_ADMIN_PASSWORD=change_me_to_a_strong_admin_password
INIT_ADMIN_EMAIL=superadmin@example.com
INIT_ADMIN_NICKNAME=Super Admin
INIT_USER_USERNAME=normaluser
INIT_USER_PASSWORD=change_me_to_a_strong_user_password
INIT_USER_EMAIL=user@example.com
INIT_USER_NICKNAME=Normal User
